{% extends 'basic.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/student.css' %}" type="text/css">

{% block title  %} Студент беті - {{student.lastname}} {{student.name}} {% endblock title %}

{% block content %}

<link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="https://bootstraptema.ru/plugins/2015/b-v3-3-6/bootstrap.min.js"></script>

<br><br><br><br><br>

<style>
body{
background: #f2f4fa;
}

#main {
 background-color: #f2f4fa;
 padding: 20px;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 -ms-border-radius: 4px;
 -o-border-radius: 4px;
 border-radius: 4px;
 border-bottom: 4px solid #ddd;
}
#real-estates-detail #author img {
 -webkit-border-radius: 100%;
 -moz-border-radius: 100%;
 -ms-border-radius: 100%;
 -o-border-radius: 100%;
 border-radius: 100%;
 border: 5px solid #ecf0f1;
 margin-bottom: 10px;
}
#real-estates-detail .sosmed-author i.fa {
 width: 30px;
 height: 30px;
 border: 2px solid #bdc3c7;
 color: #bdc3c7;
 padding-top: 6px;
 margin-top: 10px;
}
.panel-default .panel-heading {
 background-color: #fff;
}
#real-estates-detail .slides li img {
 height: 450px;
}
.label-warning {
    background-color: #566F9E;
}
</style>

<div class="container">
    <div id="main">
        <div class="row" id="real-estates-detail">
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="{% url 'students_list' %}" class="previous round"><img width="25px" src="{% static 'images/back.png' %}"></a>
                        <header class="panel-title">
                            <div class="text-center">
                                <strong>Студент туралы ақпарат</strong>
                            </div>
                        </header>
                    </div>
                    <div class="panel-body">
                        <div class="text-center" id="author">
                            <img width="220px" src="{{ student.img.url }}">
                            <h3>{{student.lastname}} {{student.name}} {{student.middlename|default_if_none:""}}</h3>
                            <small class="label label-warning">Бакалавр</small>
                            <h3></h3>
                            <p class="sosmed-author">
                            <div class="btn-group">
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-xs-12">
                <div class="panel">
                    <div class="panel-body">
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in" id="detail">
                                <br><div class="text-center">
                                    <h4>Жеке деректер</h4>
                                </div>
                                <table class="table table-th-block">
                                    <tbody>
                                   <tr><td class="active">Туған күні:</td><td>{{student.birthday}}</td></tr>
                                    <tr><td class="active">ЖСН:</td><td>{{student.iin}}</td></tr>
                                    <tr><td class="active">Жеке куәлік/паспорт № :</td><td>{{student.id_card}}</td></tr>
                                    <tr><td class="active">Білім беру бағдарламасы / Мамандығы:</td><td>{{student.speciality}}</td></tr>
                                    <tr><td class="active">GPA:</td><td>{{student.gpa}}</td></tr>
                                    <tr><td class="active">Дипломдық жобаның тақырыбы:</td><td>{{student.diploma_title}}</td></tr>

                                    <tr><td class="active">Түсініктеме жазба:</td><td><a href="{% url 'download_diploma' pk=student.id %}"> Құжатты жүктеп алу</a></td></tr>
                                    <tr><td class="active">Презентация:</td><td><a href="{% url 'download_presentation' pk=student.id %}"> Презентацияны жүктеп алу </a></td></tr>
                                    <tr><td class="active">Рецензия: </td><td><a href="{% url 'download_recen' pk=student.id %}">Рецензияны жүктеп алу</a></td></tr>
                                    <tr><td class="active">Ғылыми жетекшінің пікірі: </td><td><a href="{% url 'download_feedback' pk=student.id %}">Ғылыми жетекшінің пікірін жүктеп алу</a></td></tr>
                                    <tr><td class="active">Плагиатқа қарсы нәтиже: </td><td><a href="{% url 'download_antiplagiat' pk=student.id %}">Плагиатқа қарсы нәтижені жүктеп алу</a></td></tr>

                                    <form method="post" class="form-inline" action="{% url 'add_time' id=student.id %}">
                                        {% csrf_token %}
                                        <div class="form-group mr-4">
                                            <tr><td class="active"><label for="{{ defense_form.start_time.id_for_label }}" class="mr-2" style="font-weight: normal;">Бастау уақыты:</label></td>
                                                <td name="start_time">{{ start_time }}</td></tr>
                                        </div>
                                        <div class="form-group">
                                            <tr><td class="active"><label for="{{ defense_form.end_time.id_for_label }}" class="mr-2" style="font-weight: normal;">Аяқтау уақыты:</label></td>
                                                <td name="end_time">{{ end_time }}</td></tr>
                                        </div>
                                        <div class="form-group mr-4">
                                            <tr>
                                                <td class="active" width="33.5%">
                                                    <label for="page_number" style="font-weight: normal;">Түсініктеме жазба:</label>
                                                </td>
                                                <td name = "page_number">{{ page_number }}</td>
                                        </div>
                                        <div class="form-group mr-4">
                                            <tr>
                                                <td class="active" width="33.5%">
                                                    <label for="picture_number" style="font-weight: normal;">Кестелер, суреттер:</label>
                                                </td>
                                                <td name="picture_number">{{ picture_number }}</td>
                                        </div>
                                        <div class="form-group mr-4">
                                            <tr>
                                                <td class="active" width="33.5%">
                                                    <label for="text_input" style="font-weight: normal;">Ғылыми жетекшінің бағасы:</label>
                                                </td>
                                                <td name="text_input">{{ text_input }}</td>
                                        </div>
                                        <div class="form-group mr-4">
                                            <tr>
                                                <td class="active" width="33.5%">
                                                    <label for="text_input_1" style="font-weight: normal;">Сарапшының қорытындысы:</label>
                                                </td>
                                                <td name="text_input_1">{{ text_input_1 }}</td>
                                        </div>
                                        <div class="form-group mr-4">
                                            <tr>
                                                <td class="active" width="33.5%">
                                                    <label for="score" class="active" style="font-weight: normal;" width="33.5%">Рецензентті бағасы:</label>
                                                </td>
                                            <td name="score">{{ score }}</td>
                                        </div>
                                        <div class="form-group mr-4">
                                            <tr>
                                                <td class="active" width="33.5%">
                                                    <label for="text_area" style="font-weight: normal;">Бейресми пікірлер:</label>
                                                </td>
                                                <td name="text_area">{{ text_area }}</td>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <tr><td class="active" width="33.5%">Жауаптардың жалпы сипаттамасы: </td>
                                                    <td name="comment_2">{{ comment_2 }}</td></tr>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <tr><td class="active" width="33.5%">Білім деңгейі: </td>
                                                    <td name="comment_3">{{ comment_3 }}</td></tr>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <tr><td class="active">Комиссияның ерекше пікірлері: </td>
                                                    <td name="comment">{{ comment }}</td></tr>
                                            </div>
                                        </div>
                                    </form>
                                    <tr><td class="active">АК отырысы:</td><td><a href="{% url 'download_document1' stud_id=student.id %}"> АК отырысының хаттамасын жүктеу </a></td></tr>
                                    <tr><td class="active">АК шешімі:</td><td><a href="{% url 'download_document' stud_id=student.id %}"> АК шешімінің хаттамасын жүктеу </a></td></tr>
                                    </tbody>
                                </table>
                                <br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}